h1{
    color:aliceblue;
}
.App {
    background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.test-container {
  text-align: center;
  position: relative;
  top:76px;
 
 
}



.test-text {
  font-size: 2px;
  color:gainsboro;
  

}

.timer {
  font-size: 18px;
}
.results{
    background-color: black;
    color: white;
}